 <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/img/bg-showcase-1.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Gain Your Movie Knowledge</h2>
          <p class="lead mb-0">When you use Want to Watch Movie Manager, you know that you will be able to find all sorts of movie information here!</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('/img/bg-showcase-2.jpg');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Save Your Favourite Movie</h2>
          <p class="lead mb-0">New improved! Now you can save your favourite movies to your very own list!</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/img/bg-showcase-3.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Easy to Use</h2>
          <p class="lead mb-0">All you need to do is signup, login, search and save!</p>
        </div>
      </div>
    </div>
  </section>