<div class="popup" id="popup">
    <div class="popup-header">
        <div class="popup-title">
            My list
            <button data-close-button class="close-button">&times;</button>
        </div>
    </div>
    <div class="popup-body">
    </div>
</div>
<div id="overlay"></div>