<!-- Testimonials -->
<section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">What people are saying...</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="/img/testimonials-1.jpg" alt="">
            <h5>Sheriff Woody</h5>
            <p class="font-weight-light mb-0">"This is the best movie manager I have ever used!"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="/img/testimonials-2.jpg" alt="">
            <h5>Buzz Lightyear</h5>
            <p class="font-weight-light mb-0">"Want to Watch Movie Manager is amazing. I've been using it to save lots of my favourite movies."</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="/img/testimonials-3.jpg" alt="">
            <h5>Slinky Dog</h5>
            <p class="font-weight-light mb-0">"Thanks so much for creating this user friendly app! It's so useful!"</p>
          </div>
        </div>
      </div>
    </div>
  </section>