<!DOCTYPE html>
<html lang="en">

  <%- include("layouts/header")%>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Show Time - TV Series Manager</a>
      <a class="btn btn-primary" href="/signup">Signup</a>
    </div>
  </nav>


  <div class="container">
    <div class="row">
      <div class="col">
        <!-- test -->
      </div>
      <div class="col-6 login-signup-form">
        <h2>Login Form</h2>
        <form class="login" action="/api/login" method="POST">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email-input" placeholder="Email" name="email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password" name="password">
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <br />
        <!-- <p>Or sign up <a href="/signup">here</a></p> -->
      </div>
      <div class="col">
        <!-- test -->
      </div>
    </div>
  </div>

   <!-- Icons Grid -->
   <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>Sign up</h3>
            <p class="lead mb-0">Sign up our free membership</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3>Search</h3>
            <p class="lead mb-0">Featuring the latest release of the new movies and TV series!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3>Save</h3>
            <p class="lead mb-0">Save your favourite movie to watch list!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include("layouts/footer")%>
  <%- include("layouts/scripts")%>
</body>

</html>
