<!DOCTYPE html>
<html lang="en">

<%- include("layouts/header")%>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Show Time - TV Series Manager</a>
      <a class="btn btn-primary" href="/signup">Signup</a>
    </div>
  </nav>

  <!-- signup container -->
  <div class="container">
    <div class="row">
      <div class="col">
        <!-- test -->
      </div>
      <div class="col-6 login-signup-form">
        <h2>Login Form</h2>
        <form class="login" action="/api/login" method="POST">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email-input" placeholder="Email" name="email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password" name="password">
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <br />
        <!-- <p>Or sign up <a href="/signup">here</a></p> -->
      </div>
      <div class="col">
        <!-- test -->
      </div>
    </div>
  </div>

  <%- include("layouts/iconsGrid")%>
  <%- include("layouts/footer")%>
  <%- include("layouts/scripts")%>
</body>

</html>